<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.DepartmentDao">

    <insert id="addDepartment" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO department
            (department_name, department_desc, staff_id, superior_id, create_staff_id)
        VALUES
            (#{departmentName}, #{departmentDesc}, #{staffId}, #{superiorId}, #{loginUserId})
    </insert>

    <select id="countDepartment" resultType="Integer">
        SELECT count(0)
        FROM department w
    </select>


    <select id="countDepartmentBySearch" resultType="Integer">
        SELECT count(0)
        FROM department w
        <if test="value != ''">
            WHERE w.department_name like CONCAT('%', #{value} ,'%') or w.department_desc like CONCAT('%', #{value} ,'%')
        </if>
    </select>

    <select id="listDepartment" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.department_id                           department_id,
            w.department_name                         department_name,
            w.department_desc                         department_desc,
            w.staff_id                                staff_id,
            w.superior_id                             superior_id,
            date_format(w.create_time, '%Y.%m.%d %T') create_time,
            w.create_staff_id                         create_staff_id,
            date_format(w.update_time, '%Y.%m.%d %T') update_time,
            w.update_staff_id                         update_staff_id
        FROM department w
        ORDER BY w.department_id
        ASC
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="countDepartmentByParent" resultType="Integer">
        SELECT count(0)
        FROM department w
        LEFT JOIN department w2 ON w.superior_id = w2.department_id
        WHERE w2.department_name = #{departmentName}
    </select>

    <select id="listDepartmentByParent" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.department_id                           department_id,
            w.department_name                         department_name,
            w.department_desc                         department_desc,
            w.staff_id                                staff_id,
            w.superior_id                             superior_id,
            date_format(w.create_time, '%Y.%m.%d %T') create_time,
            w.create_staff_id                         create_staff_id,
            date_format(w.update_time, '%Y.%m.%d %T') update_time,
            w.update_staff_id                         update_staff_id
        FROM department w
        LEFT JOIN department w2 ON w.superior_id = w2.department_id
        WHERE w2.department_name = #{departmentName}
        ORDER BY w.department_id
        ASC
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="getDepartmentByName" resultType="com.alibaba.fastjson.JSONObject">
        SELECT *
        FROM department w
        WHERE w.department_name = #{departmentName}
    </select>

    <!-- 全文搜索 + 排序 -->
    <select id="listDepartmentBySearch" resultType="com.alibaba.fastjson.JSONObject">
        SELECT *
        FROM department w
        <if test="value != ''">
            WHERE w.department_name like CONCAT('%', #{value} ,'%') or w.department_desc like CONCAT('%', #{value} ,'%')
        </if>
        ORDER BY
        <choose>
            <when test="prop!=null and prop!=''">
                ${prop}
            </when>
            <otherwise> department_id </otherwise>
        </choose>
        <choose>
            <when test="order=='ascending'">
                ASC
            </when>
            <otherwise> DESC </otherwise>
        </choose>
        LIMIT #{offSet}, #{pageRow}
    </select>

    <!-- TODO排序用 -->
    <select id="listDepartmentByContentHaveSearchAsc" resultType="com.alibaba.fastjson.JSONObject">
        SELECT *
        FROM department w
        WHERE w.department_name like CONCAT('%', #{value} ,'%') or w.department_desc like CONCAT('%', #{value} ,'%')
        ORDER BY w.department_id asc
        LIMIT #{offSet}, #{pageRow}
    </select>
    <!-- TODO排序用 -->
    <select id="listDepartmentByContentHaveSearchDesc" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id                                      id,
            w.content                                 content,
            date_format(w.create_time, '%Y.%m.%d %T') createTime
        FROM department w
        WHERE w.delete_status = '1' and w.content like CONCAT('%', #{value} ,'%')
        ORDER BY w.content desc
        LIMIT #{offSet}, #{pageRow}
    </select>


    <!-- TODO排序用 -->
    <select id="listDepartmentByOrderCreateTimeHaveSearchAsc" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id                                      id,
            w.content                                 content,
            date_format(w.create_time, '%Y.%m.%d %T') createTime
        FROM department w
        WHERE w.delete_status = '1' and w.content like CONCAT('%', #{value} ,'%')
        ORDER BY w.create_time asc
        LIMIT #{offSet}, #{pageRow}
    </select>
    <!-- TODO排序用 -->
    <select id="listDepartmentByOrderCreateTimeHaveSearchDesc" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id                                      id,
            w.content                                 content,
            date_format(w.create_time, '%Y.%m.%d %T') createTime
        FROM department w
        WHERE w.delete_status = '1' and w.content like CONCAT('%', #{value} ,'%')
        ORDER BY w.create_time descupdateDepartment
        LIMIT #{offSet}, #{pageRow}
    </select>
    <!-- TODO排序用 -->
    <select id="listDepartmentByOrderAsc" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id                                      id,
            w.content                                 content,
            date_format(w.create_time, '%Y.%m.%d %T') createTime
        FROM department w
        WHERE w.delete_status = '1'
        ORDER BY w.content asc
        LIMIT #{offSet}, #{pageRow}
    </select>
    <!-- TODO排序用 -->
    <select id="listDepartmentByContentDesc" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id                                      id,
            w.content                                 content,
            date_format(w.create_time, '%Y.%m.%d %T') createTime
        FROM department w
        WHERE w.delete_status = '1'
        ORDER BY w.content desc
        LIMIT #{offSet}, #{pageRow}
    </select>
    <!-- TODO排序用 -->
    <select id="listDepartmentByOrderCreateTimeAsc" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id                                      id,
            w.content                                 content,
            date_format(w.create_time, '%Y.%m.%d %T') createTime
        FROM department w
        WHERE w.delete_status = '1'
        ORDER BY w.create_time asc
        LIMIT #{offSet}, #{pageRow}
    </select>
    <!-- TODO排序用 -->
    <select id="listDepartmentByOrderCreateTimeDesc" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            w.id                                      id,
            w.content                                 content,
            date_format(w.create_time, '%Y.%m.%d %T') createTime
        FROM department w
        WHERE w.delete_status = '1'
        ORDER BY w.create_time desc
        LIMIT #{offSet}, #{pageRow}
    </select>



    <update id="updateDepartment" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE department
        SET
            department_name = #{departmentName},department_desc = #{departmentDesc},staff_id = #{staffId},superior_id = #{superiorId}, update_staff_id = #{loginUserId}
        WHERE department_id = #{departmentId}
    </update>

    <!--
    <update id="deleteDepartment" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE department
        SET
            content = #{content},
            delete_status = #{deleteStatus}
        WHERE id = #{id}
    </update>
    -->
    <delete id="deleteDepartment" parameterType="com.alibaba.fastjson.JSONObject">
        DELETE
        FROM department
        WHERE department_id = #{department_id}
    </delete>

</mapper>