<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.UserPositionDao">





    <!--<insert id="addPersonnel" useGeneratedKeys="true" keyProperty="userId">-->
        <!--INSERT INTO sys_user-->
        <!--(username, password, nickname, role_id ,degree_id,gender,nation,major,native,graduated_from,staff_name_en,email,emergency_people,nationality,certificate_number,phone,emergency_phone,certificate_id,age,marital_status,staff_state) VALUES-->
            <!--(#{username}, #{password}, #{nickname}, #{roleId} ,#{degreeId},#{gender},#{nation},#{major},#{native}, #{graduated_from},#{staffNameEn},#{email},#{emergencyPeople},#{nationality},#{certificateNumber},#{phone},#{emergencyPhone},#{certificateId},#{age},#{marital_status},#{staff_state})-->
    <!--</insert>-->
    <insert id="addUserPosition" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO user_position
            (staff_id , position_id)
        VALUES
            (#{userId},#{positionName})
    </insert>



    <update id="updateUserPosition" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE user_position
        SET
            position_id = #{positionName}
        WHERE staff_id = #{userId}
    </update>




</mapper>